<style>
  .error{
    color: red;

  }

  .class-1{
    background: purple;
  }

  .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

</style>


<p [ngStyle]="{ color: 'blue', backgroundColor: 8 > 2 ? 'black' : 'green', border: '3px solid red'}">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis necessitatibus maxime, doloremque
  hic porro optio molestias exercitationem, consequatur ut distinctio, aperiam veritatis quaerat ipsum 
  perferendis ipsa consequuntur rerum vel sed!
</p>

<p [ngClass]="{ error: title === 'aula25', 'class-1': adicionarClass}"> <!-- Através de uma expressão booleana, fazemos uma condição, para adicionar ou remover a classe informada; -->
  DEU ERRO NO SISTEMA!                         <!-- se a classe tiver algum traço, é necessário deixá-la entre aspas, para o Angular entender -->
</p>

<!-- <button mat-button color="accent" (click)="adicionarClass = !adicionarClass"> Adicionar / Remover classe </button> -->

<button mat-button color="accent" (click)="alterarValor()"> Adicionar / Remover classe </button>

 <h2>OUTRO CONTEÚDO</h2>

<div class="wrapper">

  <p [ngStyle]="{color: 'pink', textTransform: 'uppercase'}" *ngIf="mostrarParagrafo == true" >
    Estou na tela, senhoras e senhores!
  </p>

  <button mat-button color="accent" (click)="alterarParagrafo()"> Mostrar / Esconder parágrafo </button>

<h2>OUTRO CONTEÚDO</h2>

<div [ngSwitch]="cor">

  <p style="color: red" *ngSwitchCase="'vermelho'"> Olá, este é o parágrafo vermelho</p>
  <p style="color: green" *ngSwitchCase="'verde'"> Olá, este é o parágrafo verde</p>
  <p style="color: blue;" *ngSwitchCase="'azul'"> Olá, este é o parágrafo azul</p>
  <p style="color: orange;" *ngSwitchDefault> Laranja </p> <!-- *ngSwitchDefault -- mostra o conteúdo, caso nenhum valor seja correpondente -->
  
</div>

<button mat-button color="primary" (click)="alterarCor('vermelho')"> Vermelho </button>
<button mat-button color="basic" (click)="alterarCor('verde')"> Verde </button>
<button mat-button color="accent" (click)="alterarCor('azul')"> Azul </button>


<h2>OUTRO CONTEÚDO</h2>

<h1>SoulCoders</h1>

<mat-list>

  <mat-list-item  *ngFor="let aluno of alunos;  let idx = index"> {{(idx +1) + 'º'}}  {{aluno}}  </mat-list-item> <!-- cria a variável para receber cada posição do Array, para recebê-lo -->

</mat-list>

<mat-form-field>
<mat-label></mat-label>
<input matInput placeholder="Adicione um aluno" #inputAluno (keyup.enter)= "add(inputAluno.value)" (keyup.delete)="remove(inputAluno.value)"> <!-- para pegar o valor do input, para colocar no Array -->
</mat-form-field>

<button mat-raised-button color="primary" (click)="add(inputAluno.value)">Adicionar</button> <br>
<button mat-raised-button color="primary" (click)="remove(inputAluno.value)">Excluir</button>

</div>

<h2>CONTEÚDO --> PARTE DA TARDE --> Componentes auxiliares </h2>

<div class="wrapper">

  <p [ngStyle]="{color: 'pink', textTransform: 'uppercase'}" *ngIf="mostrarParagrafo == true; else template" >
    Estou na tela, senhoras e senhores!
  </p>

  <ng-template #template> <!-- tudo o que estiver no ng-template, por padrão, não irá aparecer no HMTL, apenas que você chamá-lo -->
  <!-- usado como retorno do ELSE --> 
  <p>Outro Parágrafo</p>

  </ng-template>

  <button mat-button color="accent" (click)="alterarParagrafo()"> Mostrar / Esconder parágrafo </button>


<!-- NG FOR COM NG IF -->

</div>

<h2>NG FOR com NG IF</h2>

<ng-container *ngFor="let n of numeros">

  <p *ngIf="n % 2 == 0"> {{n}}</p>

</ng-container>

<h2>OUTRO CONTEÚDO  </h2>

<div class="wrapper">

<app-cmp>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, libero? Similique amet voluptatibus commodi veniam repudiandae qui eos voluptate eaque omnis! Sint veritatis vel reprehenderit non doloremque? Cum, labore aspernatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, libero? Similique amet voluptatibus commodi veniam repudiandae qui eos voluptate eaque omnis! Sint veritatis vel reprehenderit non doloremque? Cum, labore aspernatur?
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, libero? Similique amet voluptatibus commodi veniam repudiandae qui eos voluptate eaque omnis! Sint veritatis vel reprehenderit non doloremque? Cum, labore aspernatur?
  </p>

  <button mat-button color="accent">Olá, tudo bem</button>

</app-cmp>

<h2> CONTEÚDO SOBRE DIRETIVAS  </h2>
<!-- Conteúdo sobre diretivas --criação arquivo estyled-btn -->
<button btn >Botão Massa</button>

<button btn bg="purple">Botão Massa</button>

</div>